extends layout

block content
  h1 Quiz

  if takeQuiz
    h3 Starting Quiz for #{selectedLang}
  else
    h3 Select which Quiz
      select.form-control#quiz-lang(name="quiz-lang")
        for lang in langs 
          option(data-code='#{lang.code}')= lang.name
    button.btn.btn-default(id="start-quiz") Go!
